@{
    ViewBag.Title = "Home Page";
}
@*<%-- Carousel --%>*@
<div class="container mt-5">
    <h1 class="d-xl-block d-lg-block d-md-block d-sm-none d-none">CATEGORÍAS MÁS DEMANDADAS</h1>
    <h3 class="d-xl-none d-lg-none d-md-none d-sm-block d-none">CATEGORÍAS MÁS DEMANDADAS</h3>
    <h5 class="d-xl-none d-lg-none d-md-none d-sm-none d-block">CATEGORÍAS MÁS DEMANDADAS</h5>
    <div class="catDemandadas row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4  mt-2 mb-2">
                <a href="#">
                    <i class="fas fa-car fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="mecánicos"></i>
                    <i class="fas fa-car fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="mecánicos"></i>
                    <i class="fas fa-car fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="mecánicos"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4 mt-2 mb-2">
                <a href="#">
                    <i class="fas fa-wrench fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="fontaneros"></i>
                    <i class="fas fa-wrench fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="fontaneros"></i>
                    <i class="fas fa-wrench fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="fontaneros"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4 mt-2 mb-2">
                <a href="#">
                    <i class="fas fa-bolt fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="electricistas"></i>
                    <i class="fas fa-bolt fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="electricistas"></i>
                    <i class="fas fa-bolt fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="electricistas"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4 mt-2 mb-2 ">
                <a href="#">
                    <i class="fas fa-key fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="cerrajeros"></i>
                    <i class="fas fa-key fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="cerrajeros"></i>
                    <i class="fas fa-key fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="cerrajeros"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4 mt-2 mb-2">
                <a href="#">
                    <i class="fas fa-hammer fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="carpinteros"></i>
                    <i class="fas fa-hammer fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="carpinteros"></i>
                    <i class="fas fa-hammer fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="carpinteros"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="col-md-12 col-sm-12 col-xl-12 text-center catDemandada mt-md-4 mb-md-4 mt-2 mb-2">
                <a href="#">
                    <i class="fas fa-home fa-9x d-xl-block d-lg-block d-md-block d-sm-none d-none" title="albañiles"></i>
                    <i class="fas fa-home fa-6x d-xl-none d-lg-none d-md-none d-sm-block d-none" title="albañiles"></i>
                    <i class="fas fa-home fa-4x d-xl-none d-lg-none d-md-none d-sm-none d-block" title="albañiles"></i>
                </a>
            </div>
        </div>
    </div>
</div>
@*<%-- Fin de carousel --%>*@

@*<%-- Separador --%>*@
<div class="container separador mt-5">
    <p class="text-center">Tonom</p>
</div>
@*<%-- Fin separador --%>*@

@*<%-- 24 horas --%>*@
<div class="container mt-5">
    <div class="urgencias col-md-10 col-12 m-auto pt-3 pb-3">
        <h1 class="text-center d-xl-block d-lg-block d-md-none d-sm-none d-none">¿Tienes una urgencia?, Profesionales 24H</h1>
        <h3 class="text-center d-xl-none d-lg-none d-md-block d-sm-none d-none">¿Tienes una urgencia?, Profesionales 24H</h3>
        <h4 class="text-center d-xl-none d-lg-none d-md-none d-sm-block d-block">¿Tienes una urgencia?, Profesionales 24H</h4>
        <div class="text-center urgenciasImagen">
            <a href="#" class="text-center">
                <img src="img/urgencia.jpg" class="img-fluid" />
            </a>
        </div>
    </div>
</div>
@*<%-- Fin 24 horas --%>*@